body {
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.player-turn {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
}
.board {
    border: 10px solid #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(45deg, #ffcc00, #ff4e50);
}
.cell {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}
.cell:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.cell-p1 {
    background-color: tomato;
}
.cell-p2 {
    background-color: #007bff;
}
@media (max-width: 600px) {
    .board {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    .cell {
        height: 90px;
    }
}

.cell img {
    width: 60px;
    height: 60px;
}

.game-over-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.game-over-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.game-over-content button {
    padding: 10px 20px;
    background-color: #ff4e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.game-over-content button:hover {
    background-color: #ffcc00;
}