body {
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.player-turn {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
}